

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: sans-serif;
}

header {
    background: #23424a;
    color: white;
    padding:50px 0;
}

.container {
width: 80%;
max-width: 750px;
margin: 0 auto;

}

.intro-content {

    width: 50%;
}
h1{
    margin-bottom: 16px           ;
}

section {

    padding:16px ;
}

.section-text {

    width: 90%;
}

h2{
    margin-bottom: 20px;

}

p{

    margin-bottom:  20px ;
}

button {

    background-color: antiquewhite;
    padding: 12px 24px;
    text-transform: uppercase;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
}